<nav class="uk-navbar-container" uk-navbar>
    <div class="uk-navbar-left">
        <ul class="uk-navbar-nav">
            <li class="uk-active">
            	<a href="{{url_for('homeController')}}">
            		Culture Guardians
            	</a>
            </li>
            <li class="uk-parent"><a href=""></a></li>
        </ul>
    </div>
    <div class="uk-navbar-right">
    	<ul class="uk-navbar-nav">
            {% if context.user %}
            	<li><a href="#">Hola: {{context.user.email}}</a></li>
            	<li><a href="{{url_for('logout')}}">Cerrar sesión</a></li>
            {% else %}
            	<li><a href="{{url_for('login')}}">Login</a></li>
            	<li><a href="{{url_for('register')}}">Registro</a></li>
            {% endif %}
    	</ul>
    </div>
</nav>